# Build outputs
bin/
obj/
out/

# Rider / IDE
.idea/
.vs/
.run/
*.iml

# User-specific files (IDE)
*.user
*.rsuser
*.suo

# Rider / ReSharper
*.sln.DotSettings.user
*.DotSettings.user

# Game dumps
Dumps/
!Dumps/make_htmls.py

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log